/*
CSS comment
palette: https://colorhunt.co/palettes/random

fonts
font-family: 'Stick No Bills', sans-serif;
font-family: 'Trispace', sans-serif;
*/

body{
 /* better to set a class and use that */	
}
.container{
		background-color: #82557f;
		/* background-image: url("https://wallpaper.dog/large/20459082.jpg"); */
		background-image: url("background.jpg");
		background-repeat: no-repeat;
		text-align: center;	
		font-family: 'Trispace', sans-serif;
}

h1{
	
}

/* style for the div class header */
.header{
	border:1px solid #C24D2C; /* border */
	margin: 30px;   /* pushed the border away from edge of webpage */
	border-radius: 7px; /* curved corner */
	
	/* opaque background and pale text so can see against image */
	background: rgba(0, 0, 0, 0.3);
	color: #D9DAD7; 
	
	font-family: 'Trispace', sans-serif;
	font-weight: 900; 
	
	
}

/* style for the div class menu */
.menu{
	/* have it but don't need it! */
}

/* style for the class menu-btn */
.menu-btn{
	border:1px solid #D9DAD7;  /* border */
	background-color: #D9DAD7;
	text-decoration: none; /* takes the line off the link */
	padding: 10px;  /* makes space between word and border */
	border-radius: 3px; /* curved corner */
	color: #C24D2C;
	
}

/* style for the div class main */
.main{
	border:1px solid #990000;
	margin: 30px;
	border-radius: 7px;
	
	/* opaque background and white text so can see against image */
	background: rgba(0, 0, 0, 0.6);
    color: #fff;
		
	height: 500px;   /* gives height and makes main section big */
}

/* style for the class footer */
.footer{
	border:1px solid #D4D925;
	margin: 30px;
	border-radius: 7px;
	
	/* opaque background and pale text so can see against image */
	background: rgba(0, 0, 0, 0.3);
	color: #D9DAD7; 
}
